
body {
    font-family: Georgia, sans-serif;
    background: linear-gradient(to bottom, #f5f5dc, #000080); /* Von Hellbraun zu Hellpink */
    margin: 0;
    padding: 20px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 20px;
}

.flex-item {
    flex: 1;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Schatten für die Boxen */
    display: flex; /* Neue Zeile */
    flex-direction: column; /* Neue Zeile */
    justify-content: center; /* Neue Zeile */
    width: calc(50% - 10px); /* Neue Zeile */
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 20px;
}

input[type="file"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"], .back-btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: block; /* Stellt sicher, dass der Button die volle Breite des Containers einnimmt */
    width: 100%;
    margin-top: 10px;
}

button[type="submit"] {
    background-color: #4caf50;
    color: #fff;
}

 .back-btn {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #add8e6; /* Hellblau */
    color: #000; /* Schwarzer Text */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    font-size: 18px;
}

li::before {
    content: "• ";
    color: #000;
    font-weight: bold;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
