<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
   
</head>
<body>
    <h1>Welcome to your 2Do Dashboard</h1>
    <div class="container">
        <div class="button-container">
            <a href="{{ url_for('todo') }}" class="button">2DO</a>
            <a href="{{ url_for('doc') }}" class="button">2DOC</a>
            <a href="{{ url_for('date') }}" class="button">2DATE</a>
            <a href="{{ url_for('profil') }}" class="button">Profile</a>
        </div>
    </div>
</body>
</html>

