<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Hey there, are you ready 2Do?</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

    <title>2Do</title>
    
</head>
<body>
    <h1>Hey there, are you ready 2Do?</h1>
    <p>Welcome!</p>
    <img id="logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
    <div>
        <a href="{{ url_for('login') }}" class="button">Go Login</a>
        <a href="{{ url_for('register') }}" class="button">Go Register</a>
    </div>
    <div id="footer">
        <p>Bei Fragen kontaktieren Sie uns!</p>
    </div>
</body>
</html>